.vscode
.vs
.idea
patches
orig
dwl
wlroots
wlroots-eglstreams
wlroots-ps
wlroots-dv
*BACKUP*
*BASE*
*LOCAL*
*REMOTE*
*.orig
*.save
*.bak
*.o
*-protocol.c
*-protocol.h
*.patch
.ccls-cache
config.h
log.txt
